<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>


    <title>....</title>

    <!-- Importering a Fontawsome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom Css -->
    <link href="style.css" rel="stylesheet" type="text/css" />



</head>
<body>

moviesList.forEach

<h1>
    <%= userName %> here
</h1>


<thead>


<table>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Genre</td>
        <td>Year</td>
    </tr>

</thead>

<tbody>
    <% moviesList.forEach(movie => { %>

</tbody>

    <div>
        <% console.log(moviesList); %>
        <tr>
            <th scope="row"> <%= movie._id %> </th>
            <td> <%= movie.title %> </td>
            <td> <%= movie.genre %> </td>
            <td> <%= movie.year %> </td>
        </tr>

    </ abc Year>

    </div>

    <% moviesList.movies  %>





    <% }) %>



</table>



</body>
</html>